# Node dependencies
node_modules/

#Auth and Cache whatsapp-web.js
.wwebjs_cache/
.wwebjs_auth/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*    # si usas variantes como .env.local, .env.development

# Coverage reports
coverage/

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db
